<div id="main">
  <div id="satistics">
    <i><%= Date.today%>の注文統計</i>
    <div id="orders">
    <table class="table table-bordered">
      <tr>
        <th>商品名</th>
        <th>注文数</th>
        <th>単価</th>
        <th>テーブル番号</th>
        <th>カテゴリ</th>
      </tr>
      <% @satistics.each do |s| %>
      <tr>
        <td><%=s.product.name%></td>
        <td><%=s.amount%></td>
        <td><%=s.product.price%></td>
        <td><%=s.table_number.table_number%></td>
        <td><%=s.product.category%></td>
      </tr>
      <% end %>
      <tr>
          <td colspan="5" style="text-align:right;">
            売り上げ総計　<%= OrderStatus.total%>円
          </td>
      </tr>
    </table>
    <div class = "page_nate_area"><%= paginate @satistics %></div>
  </div>
  <!--end of orders-->
  </div>
  <!--end of satistics-->
</div>
<!--end of main-->
