<!--<%=#
  specification
  name = 統計index
  function = 閉店時の統計画面のViewを出力
  note = 特になし。
  date = 2017/6/20
  author = Yuto Suzuki
  History = V1.00/V1.00
  input = none
  output = View file
  end of specification
%>-->

<div id="main">
  <div id="satistics">
    <div id = 'day_zone'><i><%= Date.today%></i>
      <%= button_to "閉店時切替",{controller:'orders',action:'index'},{method: :get}%>
    </div>
    <%= form_tag satistics_path, {:method => 'get'} do%>
    <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
    <%end%>
    <div id="orders">
    <table class="table table-bordered">
      <tr>
        <th><%= link_to "商品名", sort: "products.name" %></th>
        <th><%= link_to "注文数", sort: "amount" %></th>
        <th><%= link_to "単価", sort: "products.price" %></th>
        <th><%= link_to "テーブル番号", sort: "table_numbers.table_number" %></th>
        <th><%= link_to "カテゴリ", sort: "products.category" %></th>
      </tr>
      <% @satistics.each do |s| %>
      <tr>
        <td><%=s.product.name%></td>
        <td><%=s.amount%></td>
        <td><%=s.product.price%></td>
        <td><%=s.table_number.table_number%></td>
        <td><%=s.product.category%></td>
      </tr>
      <% end %>
      <tr>
          <td><div class = "page_nate_area"><%= paginate @satistics %></div></td>
          <td colspan="4" style="text-align:right;font-size:30px;">
            <b>売り上げ総計　<%= OrderStatus.total%>円</b>
          </td>
      </tr>
    </table>

  </div>
  <!--end of orders-->
  </div>
  <!--end of satistics-->
</div>
<!--end of main-->
