<!--<%=#
  specification
  name = 注文完了画面
  function = 注文完了画面のViewを生成
  note = 特になし。
  date = 2017/6/20
  author = Yuto Suzuki
  History = V1.00/V1.00
  input = none
  output = View file
  end of specification
%>-->
<div id = "main">
<div id="order_index">
  <div id = 'day_zone'><i><%= Date.today%></i></div>
<% @order.each do |order|%>
<div id = "orders">
<table class = "table table-bordered">
<tbody>
  <tr>
    <td colspan="2">テーブル番号:</td>
  </tr>
  <tr>
    <td>
      商品名：<%= order.product.name%>
    </td>
    <td>
      数量：<%= order.amount%>
    </td>
  </tr>
  <tr>
    <th colspan="3">備考</th>
  </tr>
  <tr>
    <td colspan="3"><%= order.product.option%></td>
</th>
  </tr>
  </tbody>
</table>
</div>
<%end%>
<div class="switch"><%= button_to "注文一覧へ戻る", {action: :index}, {method: :get}%></div>
<div class = "page_nate_area"><%= paginate @order %></div>
</div>
</div>
