<div id = "main">
<div id = "order_index">
  <%unless flash.blank?%>
  <p><%= flash[:notice]%></p>
  <%end%>
  <div id = 'day_zone'><i><%= Date.today%></i>
    <%= button_to "閉店時切替",{controller:'satistics',action:'index'},{method: :get}%>
  </div>
  <%= form_for @order_status, :url => {:action => 'complete'} do |f|%>
  <div id="contents">
    <% if @order.blank?%>
    <span>まだ注文がありません!!</sapn>
    <% else%>
  <% @order.each do |order|%>
  <div id = "orders">
  <table class = "table table-bordered">
  <tbody>
    <tr>
      <td rowspan="2" style="padding-top:30px;"><%= f.check_box 'id', {multiple: true}, order.id, false %></td>
      <td colspan="2">テーブル番号:<b><%= order.table_number.table_number%></b></td>
    </tr>
    <tr>
      <td>
        商品名：<b><%= order.product.name%></b>
      </td>
      <td>
        数量：<b><%= order.amount%></b>
      </td>
    </tr>
    <tr>
      <th colspan="3">備考</th>
    </tr>
    <tr>
      <td colspan="3"><%= order.product.option%></td>
  </th>
    </tr>
    </tbody>
  </table>
  </div>
  <%end%>
  <%end%>
</div>
  <div class = "form_area"><%= f.button "チェックしたものを完了する。"%></div>
<%end%>
<%= button_to "完了済み一覧を表示する。",{action:'complete_index'},{method: :get}%>
<div class = "page_nate_area"><%= paginate @order %></div>
</div>
<!--end of order_index-->
</div>
<!--end of main-->
