<!--<%=#
  #specification
  #name = オリジンスタイルシート
  #function = 全てのViewの大枠を決める。
  #note = 特になし。
  #date = 2017/6/20
  #author = Yuto Suzuki
  #History = V1.00/V1.00
  #input = none
  #output = View file
  #end of specification
%>-->
<!DOCTYPE html>
<html>
  <head>
    <title>FCS</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
